*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}


.header__inner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;

  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    h1 {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 102.7%;
      width: 68px;
      text-transform: uppercase;
      color: #FF6E56;

      span {
        color: #FFC261;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    gap: 30px;


    a {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      color: #505050;
    }
  }

  .buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
    color: #505050;

    font-size: 16px;
    line-height: 17px;

    button {
      border: none;
      outline: none;
      background-color: transparent;
      font-family: 'Montserrat', sans-serif;
      font-style: normal;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      cursor: pointer;
      color: #505050;

      span {
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}

.slider {
  position: relative;

  .controls {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;

    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1100px;

    button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      --size: 35px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      border: none;
      outline: none;
      background-color: #fff;

      color: #000;
      cursor: pointer;
    }
  }

  .slide {
    img {
      width: 100%;
    }

    .slide__text {
      display: flex;
      margin-top: 100px;
      margin-left: 610px;
      flex-direction: column;
      align-items: center;

      h2 {
        font-size: 30px;
        color: #fff;
      }

      p {
        font-size: 80px;
        font-weight: 600;
        color: red;
      }
    }

    .slide__button {
      background-color: #fff;
      border-radius: 4px;
      padding: 5px 15px;
      font-weight: 500;
      cursor: pointer;
    }
  }
}

.section {
  margin-top: 85px;

  &-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #FFC261;
    padding-bottom: 20px;

    h2 {
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
    }

    .search-box {
      display: flex;
      flex-direction: row;
      align-items: center;
      background: #EEEEEE;
      border-radius: 10px;
      gap: 16px;
      padding: 10px;
      cursor: text;

      .icon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

      }

      input {
        border: none;
        outline: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #A2A2A2;
        background: none;
        width: 230px;
      }
    }
  }

  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin-top: 40px;

    h2 {
      text-align: center;
      color: #A2A2A2;
      align-self: center;
      grid-column: 2 / 4;
    }

    .product {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      gap: 10px;

      h3 {
        font-weight: 400;
        font-size: 14px;
      }

      &__footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 16px;
        line-height: 20px;
        color: #000000;

        p {
          font-weight: 500;
        }

        button {
          --size: 32px;
          width: var(--size);
          height: var(--size);
          cursor: pointer;
          border: none;
          outline: none;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #dcdcdc;
          border-radius: 10px;
        }
      }
    }
  }

  .feedback {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;

    &-wrapper {
      position: absolute;
      margin-right: 80px;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 30px 48px;
      background-color: white;
      gap: 5px;

      h3, h4 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
      }

      h4 {
        margin-bottom: 20px;
      }

      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        input {
          border: none;
          outline: none;
          border-bottom: 1px solid #D9D9D9;
          background: none;
          padding: 10px;
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #A2A2A2;

        }

        button {
          border: none;
          outline: none;
          background-color: #FF6E56;
          color: white;
          text-transform: uppercase;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;
          font-size: 14px;
          font-weight: 500;
          width: 100%;
          padding: 12px 0;
          cursor: pointer;
        }
      }
    }
  }

  .sales-header {
    margin-top: 85px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    border-bottom: 2px solid #FFC261;
    padding-bottom: 20px;


  }

  .sales {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 19px;
    margin-top: 40px;

    .sale {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      gap: 10px;

      .discount {
        background-color: red;
        color: white;
        width: fit-content;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
      }

      h3 {
        font-weight: 400;
        font-size: 14px;
      }

      &__footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        button {
          --size: 32px;
          width: var(--size);
          height: var(--size);
          cursor: pointer;
          border: none;
          outline: none;
          background-color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 1px solid #dcdcdc;
          border-radius: 10px;
        }

        .sale-price {
          gap: 15px;
          display: flex;
          flex-direction: row;
          align-items: center;

          .first-price {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            text-decoration-line: line-through;
            color: #000000;
          }

          .final-price {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FF2400;
          }
        }
      }
    }
  }
}

footer {
  background-color: #111111;
  padding: 40px 0;
  margin-top: 100px;

  .footer__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 120px;
    align-items: baseline;
  }


  .company__column {
    display: flex;
    flex-direction: column;
    color: #a2a2a2;
    width: 293px;
    gap: 30px;

    .social {
      display: flex;
      flex-direction: row;
      gap: 15px;

      i {
        --size: 30px;
        font-size: var(--size);
        cursor: pointer;
      }
    }

    .contacts {
      display: flex;
      flex-direction: column;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      gap: 10px;

      .number {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        span {
          color: #A2A2A2;
        }
      }
    }

    .logo {
      display: flex;
      flex-direction: row;
      align-items: end;
      width: 133px;
      gap: 15px;

      h1 {
        color: #FF6E56;
        font-family: 'Oswald';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 102.7%;
        color: #FF6E56;
        text-transform: uppercase;

        span {
          color: #FFC261;
        }
      }
    }
  }

  .nav__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

    h4 {
      color: #fff;
      font-weight: 400;
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: #A2A2A2;
    }
  }
}

// Cart modal CSS

.overlay {
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;

  &.active {
    visibility: visible;
    opacity: 1;
  }

  .modal {
    position: absolute;
    display: grid;
    grid-template-rows: 0.25fr 4.75fr 1fr;
    gap: 30px;
    top: 0;
    bottom: 0;
    right: 0;
    max-width: 385px;
    width: 100%;
    padding: 32px 30px 30px 30px;
    background-color: #fff;

    &-header {
      h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 44px;
        color: #000000;
      }
    }

    &-body {
      overflow-y: scroll;

      .cart-items {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .cart-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          button {
            --size: 32px;
            width: var(--size);
            height: var(--size);
            cursor: pointer;
            outline: none;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid #A2A2A2;
            border-radius: 20px;
            padding: 3px;
          }

          img {
            max-width: 114px;
            max-height: 158px;
            min-height: 158px;
            min-width: 114px;
            object-fit: contain;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &-footer {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .total {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .row {
          flex-direction: row;
          display: flex;
          justify-content: space-between;
          font-size: 16px;
          line-height: 19px;
          color: #000000;
          font-family: 'Montserrat', sans-serif;
          font-style: normal;

          span {
            min-width: max-content;
          }

          .text {
            font-weight: 400;
          }

          .price {
            font-weight: 600;
          }


        }
      }

      button {
        border: none;
        outline: none;
        background-color: #FF6E56;
        color: white;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-size: 14px;
        font-weight: 500;
        width: 100%;
        padding: 12px 0;
        cursor: pointer;
      }
    }
  }
}

